{# src\SMB\LoyerBundle\Resources\views\Loyer\codification.html.twig #}

{% extends "SMBLoyerBundle::layout.html.twig" %}

{% block title %}
	Nouvelle codification - {{ parent() }}
{% endblock %}

{% block smbloyer_body %}
	<div class="panel-heading">
		<h4>Nouvelle codification </h4>
	</div>

	<div class="well">
		{{ form_start(form, {'atr': {'class': 'form-horizontal'}}) }}
			
			{{ form_errors(form) }}
			<div class="row">
				
				<div class="col-sm-5">
					<legend>Codifications</legend>
					{# personalisation du champ chambre #}
					<div class="form-group">
						{{ form_label(form.chambre, "Numéro de chambre: " , {'label_atr': {'class': 'col-sm-3 control-label'}}) }}
						{{ form_errors(form.chambre) }}
						{{ form_widget(form.chambre, {'atr': {'class': 'form-control'}}) }}
					</div>

					{# personalisation du champ pavion #}
					<div class="form-group">
						{{ form_label(form.pavion, "Pavion: " , {'label_atr': {'class': 'col-sm-3 control-label'}}) }}
						{{ form_errors(form.pavion) }}
						{{ form_widget(form.pavion, {'atr': {'class': 'form-control'}}) }}
					</div>

				</div>

			</div>
			<div class="row">
				{{ form_widget(form.enregistrer, {'atr': {'class': 'btn btn-default'}}) }}
			</div>

		{{ form_end(form) }}
	</div>
{% endblock%}