{# src\SMB\LoyerBundle\Resources\views\Loyer\parametre.html.twig #}

{% extends "SMBLoyerBundle::layout.html.twig" %}

{% block title %}
	Paramètrage - {{ parent() }}
{% endblock %}

{% block smbloyer_body %}
    <div id="parametre">
        <div class="menu_parametre">
            <ul>
                <li class="menu menu_pavion active"><a id="pavion" href="#">Pavions</a></li>
                <li id="chambre" class="menu menu_chambre"><a href="#">Chambres</a></li>
                <li id="mois" class="menu menu_mois"><a href="#">Mois</a></li>
                <li id="restauration" class="menu menu_restauration"><a href="#">Restaurer</a></li>
            </ul>
        </div>
        <div id="contenu_parametre" class="liste pavion">
            <div class="pavion_affichage">
                {{ render(controller('SMBLoyerBundle:Pavion:index')) }}
            </div>
            <div class="pavion_ajout">
            </div>
            <div class="pavion_modification">
            </div>
        </div>

        <div class="liste chambre" style="display:none">
            <div class="chambre_affichage">
                {#{{ render(controller('SMBLoyerBundle:Chambre:index')) }}#}
            </div>
            <div class="chambre_ajout">
{#                {{ render(controller('SMBLoyerBundle:Chambre:add')) }}#}
            </div>
            <div class="chambre_modification">
{#                {{ render(controller('SMBLoyerBundle:Chambre:edit')) }}#}
            </div>
        </div>

        <div class="liste mois" style="display:none">
            <div class="mois_affichage">
                {{ render(controller('SMBLoyerBundle:Mois:index')) }}
            </div>
            <div class="mois_ajout">
{#                {{ render(controller('SMBLoyerBundle:Mois:add')) }}#}
            </div>
            <div class="mois_modification">
{#                {{ render(controller('SMBLoyerBundle:Mois:edit')) }}#}
            </div>
        </div>
    </div>
        
    {# **************************************************
     * l'ensemble du code javascript se trouve ici
     *****************************************************#}
    <script type="text/javascript">
            $(document).ready(function(){
                
                /**************************************
                 * gestion du click sur le menu pavion
                 * la liste des pavions sera afficher
                 **************************************/
                $('#pavion').click(function(){
                    
                    //chargement de l'image loader
                    $('#loader').show();
                    var DATA="";
                    $.ajax({
                        type:"POST",
                        url:"{{path('smb_pavion_home')}}",
                        data:DATA,
                        success: function(data){
                            $('.pavion_affichage').html(data);
                            //on enlève l'image loader
                            $('#loader').hide();
                        },
                        error: function(){
                            //on enlève l'image loader
                            $('#loader').hide();
                        }
                    });
                    
                });
                
            });
    </script>
    
{% endblock %}


