 {# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}SMB Gestion Loyer{% endblock %}</title>

  {% block stylesheets %}
     <!-- <link rel="stylesheet" href="{{asset('bundles/bootstrap/css/bootstrap.min.css') }}" type="text/css"
media="all" /> -->
     <link rel="stylesheet" href="{{asset('bundles/loyer/css/screen.css') }}" type="text/css"/>
     <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css"/>
     <link rel="stylsheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" type="text/css"/>
     <!-- <link rel="stylesheet" href="{{asset('bundles/css/style.css') }}" type="text/css"> -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
  {% endblock %}
 
</head>

<body>
  <div class="contenant" >
    <div id="header">
      <div class="logo"></div>
      <div class="titre">
        <h1>Gestion du loyer</h1>
        <span class="deconnect pull-right"><a href="{{ path('logout') }}" title="Déconnexion"></a></span>
      </div> 
    </div>

    <div class="row">
      <div id="sidebare">
        <div id="menu">
          <nav class="">
            <ul class="">
              <li class="niveau1">
                <span class="titre"><a class="icon-homes" href="{{ path('smb_loyer_home') }}">Accueil</a></span>
              </li>
              <li class="niveau1">
                <span class="titre menu_gestion"><a href="{{ path('smb_etudiant_home') }}">Gestion</a></span>
                <ul>
                  <li class="niveau2 menu_etudiant"><a href="#" id="etudiant">Etudiants</a></li>
                  <li class="niveau2 menu_paiement"><a href="#" id="paiement">Paiements</a></li>
                  <li class="niveau2 menu_codification"><a href="#" id="codification">Codification</a></li>
                  <li class="niveau2 menu_registre"><a href="#" id="registre">Registres</a></li>
                </ul>
              </li>
              {% if(is_granted('ROLE_ADMIN')) %}
                <li class="niveau1">
                  <span class="titre menu_admin"><a href="#">Administration</a></span>
                  <ul>
                    <li class="niveau2"><a href="{{ path('smb_user_home') }}">Gestion utilisateurs</a></li>
                    <li class="niveau2"><a href="{{ path('smb_profil_home') }}">Gestion profils</a></li>
                    <li class="niveau2"><a href="{{ path('smb_loyer_parametre') }}">Paramètres</a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>

      <div id="content">
          <div id="loader" style="display:none">
              <img src="{{asset('bundles/images/loader.gif')}}"/>
              <span>chargement . . .</span>
          </div>
        {% block scripts %}
          <script src="{{ asset('bundles/js/jquery-2.1.1.min.js') }}"></script>
          <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
{#          <script src="{{ asset('bundles/js/script.js') }}"></script>#}
          <script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
        {% endblock %}
        {% block body %}
        {% endblock %}
          
      </div>
    </div>

    <hr>

    <footer>
      <p>MBAYE Souleymane © Août 2015.</p>
      
    </footer>
  </div>

        {% block javascript %}
        {% endblock %}

</body>
</html>