{# src\SMB\LoyerBundle\Resources\views\Mois\add.html.twig #}

<div class="mois_ajout">
<div class="block ajouter_mois col-sm-6">
        {#{{ form_start(form, {'atr': {'class': 'form-horizontal'}}) }}#}
        <form id="formulaire_ajout">
                <div class="titre_block">
                    <h5 class="titre">Nouveau Mois </h5>
                </div>

                {{ form_errors(form) }}
                <div class="row">
                        <div class="col-sm-10">
                                {# personalisation du champ libelle #}
                                <div class="row">
                                <div class="form-group">
                                        {{ form_label(form.libelle, "Nom du mois: ", {'label_atr': {'class': 'col-sm-3 control-label'}}) }}
                                        {{ form_widget(form.libelle, {'atr': {'class': 'col-sm-6 form-control'}}) }}
                                        <span class="nom_mois_erreur"></span>
                                        
                                </div>
                                </div>

                        </div>


                </div>

      {#  {{ form_end(form) }}#}
        </form>
        <div class="boutons_add">
            <button class="annuler_ajout_mois">Annuler</button>
            <button class="enregistrer_mois">Enregistrer</button>
        </div>
</div>
</div>
        
<script type="text/javascript">
    $(document).ready(function(){
        /*******************************************
         * fonction qui permet de vérifier si un
         * mois est valide
         *******************************************/
        function estValide(mois){
            //les mois sont connus d'avance 
            if(/^janvier|fevrier|mars|avril|mai|juin|juillet|ao[uû]t|septembre|octobre|novembre|decembre$/i.test(mois)){
                return true;                
            }else{
                return false;                
            }
        }
        
        /***************************************************
         * traitement du click sur le bouton d'annulation 
         * de l'ajout d'un mois
         ***************************************************/
        $('button.annuler_ajout_mois').click(function(){
           $('.mois_ajout').html(""); 
        });

        /*****************************************************
         * Traitement du click sur le bouton d'ajout d'un mois 
         *****************************************************/
        $('.enregistrer_mois').click(function(){
            //on charge l'image loader
            $('#loader').show();
            //on envoie le type de la requete
            var requete = "ajout";
            var mois = $('#smb_loyerbundle_mois_libelle').val();
            var DATA = 'mois='+mois+"&requete="+requete;
            
            //le champ du mois ne peut pas être vide
            if(mois === ""){
                //on enlève l'image loader
                 $('#loader').hide();
                //on met un message d'erreur
                $('.nom_mois_erreur').html("Veuillez renseignez un mois");
                //on enlève l'image loader
                $('#loader').hide();
            }else{
                //le champ doit être valide
                if(!estValide(mois)){
                    //on met un message d'erreur
                    $('.nom_mois_erreur').html("Donnez un mois valide");
                    //on enlève l'image loader
                    $('#loader').hide();
                }
                else{
                    //le mois est valide on l'envoie dans la base
                    //aucune erreur n'est affichée
                    $('.nom_mois_erreur').html("");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('smb_mois_add') }}",
                        data: DATA,
                        success: function(data){
                            $('#contenu_parametre').html(data);
                            //on enlève l'image loader
                            $('#loader').hide();
                        },
                        error: function(resultat,statut,error){
                            //on enlève l'image loader
                            $('#loader').hide();
                        }
                    });                
                }
            }            
        });
    });
