{# src\SMB\LoyerBundle\Resources\views\Chambre\add.html.twig #}

<div class="chambre_ajout" title="Nouveau numéro">
<div class="block ajouter_chambre col-sm-6">
        {#{{ form_start(form, {'atr': {'class': 'form-horizontal'}}) }}#}
        <form id="formulaire_ajout">
                {#<div class="titre_block">
                    <h5 class="titre">Nouveau numéro </h5>
                </div>#}

                {{ form_errors(form) }}
                <div class="row">
                        <div class="col-sm-10">
                                {# personalisation du champ numero #}
                                <div class="row">
                                <div class="form-group">
                                        {{ form_label(form.numero, "Numéro de chambre: ", {'label_atr': {'class': 'col-sm-3 control-label'}}) }}
                                        {{ form_widget(form.numero, {'atr': {'class': 'col-sm-6 form-control'}}) }}
                                        <span class="nom_chambre_erreur"></span>
                                        
                                </div>
                                </div>

                        </div>


                </div>

      {#  {{ form_end(form) }}#}
        </form>
        <div class="boutons_add">
            <button class="annuler_ajout_chambre">Annuler</button>
            <button class="enregistrer_chambre">Enregistrer</button>
        </div>
</div>
</div>
        
<script type="text/javascript">
    $(document).ready(function(){
        /*******************************************
         * fonction qui permet de vérifier si un
         * numéro de chambre est valide
         *******************************************/
        function estValide(numero){
            //le nom de pavion ne doit commencer 
            //par au minimum une lettre
            if(/^[1-9][0-9]{0,4}$/i.test(numero)){
                return true;                
            }else{
                return false;                
            }
        }
        
        /***************************************************
         * traitement du click sur le bouton d'annulation 
         * de l'ajout d'un numéro de chambre
         ***************************************************/
        $('button.annuler_ajout_chambre').click(function(){
           $('.chambre_ajout').remove(); 
        });

        /**************************************************
         * Traitement du click sur le bouton d'ajout d'un 
         * numéro de chambre 
         **************************************************/
        $('.enregistrer_chambre').click(function(){
            
            //on charge l'image loader
            $('#loader').show();
            //on envoie le type de la requete
            var requete = "ajout";
            var numero_chambre = $('#smb_loyerbundle_chambre_numero').val();
            var DATA = 'numero_chambre='+numero_chambre+"&requete="+requete;
            
            //le champ de numero ne peut pas être vide
            if(numero_chambre === ""){
                //on enlève l'image loader
                 $('#loader').hide();
                //on met un message d'erreur
                $('.nom_chambre_erreur').html("Veuillez renseignez un numéro");
                //on enlève l'image loader
                $('#loader').hide();
            }else{
                //le champ doit être valide
                if(!estValide(numero_chambre)){
                    //on met un message d'erreur
                    $('.nom_chambre_erreur').html("Donnez un numero valide");
                    //on enlève l'image loader
                    $('#loader').hide();
                }
                else{
                    //on enlève la boite de dialogue
                    $('.chambre_ajout').dialog("close");
            
                    //le numero est valide on l'envoie dans la base
                    //aucune erreur n'est affichée
                    $('.nom_chambre_erreur').html("");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('smb_chambre_add') }}",
                        data: DATA,
                        success: function(data){
                            $('#contenu_chambre').html(data);
                            //on enlève l'image loader
                            $('#loader').hide();
                        },
                        error: function(resultat,statut,error){
                            //on enlève l'image loader
                            $('#loader').hide();
                        }
                    });                
                }
            }            
        });
    });
