{# SMB\UserBundle\Resources\views\User\edit.html.twig #}


	<h4>Modifier l'utilisateur</h4>
	<div class="well col-sm-6">
		{{ form_start(form, {'atr': {'class': 'form-horizontal'}}) }}
			
			{{ form_errors(form) }}
			<div class="row">
				<div class="col-sm-10">
					{# personalisation du champ prenom #}
					<div class="form-group">
						{{ form_errors(form.prenom) }}
						{{ form_label(form.prenom, "Prénom: ", {'label_atr': {'class': 'col-sm-3 control-label'}}) }}
						{{ form_widget(form.prenom, {'atr': {'class': 'form-control'}}) }}
					</div>
					
					{# personalisation du champ nom #}
					<div class="form-group">
						{{ form_errors(form.nom) }}
						{{ form_label(form.nom, "Nom: ", {'label_atr': {'class': 'col-sm-3 control-label'}}) }}
						{{ form_widget(form.nom, {'atr': {'class': 'form-control'}}) }}
					</div>

					{# personalisation du champ username #}
					<div class="form-group">
						{{ form_errors(form.username) }}
						{{ form_label(form.username, "Nom d'utilisateur: " , {'label_atr': {'class': 'col-sm-3 control-label'}}) }}
						{{ form_widget(form.username, {'atr': {'class': 'form-control'}}) }}
					</div>

					{# personalisation du champ email #}
					<div class="form-group">
						{{ form_errors(form.email) }}
						{{ form_label(form.email, "Adresse email: " , {'label_atr': {'class': 'col-sm-3 control-label'}}) }}
						{{ form_widget(form.email, {'atr': {'class': 'form-control'}}) }}
					</div>

					{# personalisation du champ password #}
					<div class="form-group">
						{{ form_errors(form.password) }}
						{{ form_label(form.password, "Mot de passe: " , {'label_atr': {'class': 'col-sm-3 control-label'}}) }}
						{{ form_widget(form.password, {'atr': {'class': 'form-control'}}) }}
					</div>

					{# personalisation du champ profil #}
					<div class="form-group">
						{{ form_errors(form.profils) }}
						{{ form_label(form.profils, "Profil: " , {'label_atr': {'class': 'col-sm-3 control-label'}}) }}
						{{ form_widget(form.profils, {'atr': {'class': 'form-control'}}) }}
					</div>

					<div id="modifier">
						<input type="submit" value="Ajouter" />
					</div>
				</div>
			</div>

		{{ form_end(form) }}
	</div>
	<div id="infoUserModifier">
	</div>

<script type="text/javascript">
$(document).ready(function(){

	
});
</script>