{# src\SMB\LoyerBundle\Resources\views\Pavion\add.html.twig #}


<div class="block ajouter_pavion col-sm-6">
        {#{{ form_start(form, {'atr': {'class': 'form-horizontal'}}) }}#}
        <form id="formulaire_ajout">
                <div class="titre_block">
                    <h5 class="titre">Nouveau pavion </h5>
                </div>

                {{ form_errors(form) }}
                <div class="row">
                        <div class="col-sm-10">
                                {# personalisation du champ libelle #}
                                <div class="row">
                                <div class="form-group">
                                        {{ form_label(form.libelle, "Nom du pavion: ", {'label_atr': {'class': 'col-sm-3 control-label'}}) }}
                                        {{ form_widget(form.libelle, {'atr': {'class': 'col-sm-6 form-control'}}) }}
                                        {{ form_errors(form.libelle) }}
                                </div>
                                </div>

                        </div>


                </div>

      {#  {{ form_end(form) }}#}
        </form>
        <div class="boutons_add">
            <button class="annuler_ajout_pavion">Annuler</button>
            <button class="enregistrer_pavion">Enregistrer</button>
        </div>
</div>
        
<script type="text/javascript">
    $(document).ready(function(){
        
        /***************************************************
         * traitement du click sur le bouton d'annulagion 
         * de l'ajout d'un pavion
         ***************************************************/
        $('button.annuler_ajout_pavion').click(function(){
           $('.pavion_ajout').html(""); 
        });

        /**************************************************
         * Traitement du click sur le bouton d'ajout d'un 
         * nouveau pavion 
         **************************************************/
        $('.enregistrer_pavion').click(function(){
            //on charge l'image loader
            $('#loader').show();
            //on envoie le type de la requete
            var requete = "ajout";
            var nom_pavion = $('#smb_loyerbundle_pavion_libelle').val();
            var DATA = 'nom_pavion='+nom_pavion+"&requete="+requete;
            if(nom_pavion == ""){
                //on enlève l'image loader
                 $('#loader').hide();
            }else{
                $.ajax({
                    type: "POST",
                    url: "{{ path('smb_pavion_add') }}",
                    data: DATA,
                    success: function(data){
                        $('.pavion_affichage').html(data);
                        $('.pavion_ajout').html("");
                        //on enlève l'image loader
                        $('#loader').hide();
                    },
                    error: function(resultat,statut,error){
                        //on enlève l'image loader
                        $('#loader').hide();
                    }
                });                
            }
        });
    });
</script>