{# src\SMB\LoyerBundle\Resources\views\Pavion\index.html.twig #}

<div class="pavion_affichage">
<div class="block block_pavion col-sm-12">
    <div class="liste_pavion col-sm-10">
        <div class="titre_block">
            <h5 class="titre">Liste des pavions</h5>
        </div>
        <div class="tableau">
            <table class="table table-striped table-borded table-condensed">
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Libellé</th>
                    </tr>
                </thead>

                <tbody>
                    {% for pavion in listPavions %}
                        <tr style="font-size:15px">
                            <td>{{ pavion.id }}</td>
                            <td>{{ pavion.libelle }}</td>  
                            <td><input type="checkbox" id="{{pavion.id}}"/></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="boutons">
    <ul>
        <li><button class="ajout_pavion ajouter">Ajouter</button></li>
        <li><button class="modification_pavion modifier">Modifier</button></li>
        <li><button class="suppression_pavion supprimer">Supprimer</button></li>
    </ul>
</div>
<div id="message_erreur" title="Message d'erreur">
</div>
</div>
                
<script type="text/javascript">
    $(document).ready(function(){
        /****************************************************
         * gestion du click sur le bouton d'ajout d'un pavion
         ****************************************************/
        $('.ajout_pavion').click(function(){
            //on charge l'image loader
            $('#loader').show();
            //on envoie le type de requete à traiter au
            //niveau du controller Pavion:add
            var requete = "affichage";
            var DATA='requete='+requete;
            $.ajax({
                type:"POST",
                url:"{{ path('smb_pavion_add')}}",
                data:DATA,
                success: function(data){
                    $('.pavion_ajout').remove();
                    $('.pavion_modification').remove();
                    $('#contenu_parametre').append(data);
                    //on enlève l'image loader
                    $('#loader').hide();
                },
                error: function(){
                    //on enlève l'image loader
                    $('#loader').hide();
                }
            });
        });
        
        /*************************************************************
         * gestion du click sur le bouton de modification d'un pavion
         *************************************************************/
        $('.modification_pavion').click(function(){
            //on charge l'image loader
            $('#loader').show();
            //on recupere l'ensemble des case cochées
            var nbre = 0; //le nombre de cases cochées
            var id; //on met ici l'id du pavion correspondant à la case cochée
            $("input[type='checkbox']:checked").each(function(){
                nbre++; 
                id = $(this).attr('id');
            }); 
            //si aucun élément n'a été selectionné
            //on demande à choisir un élément à modifier
            if(nbre === 0 ){
                //on enlève l'image loader
                $('#loader').hide();
                $('#message_erreur').html("Veuillez choisir un élément à modifier!");
                $('#message_erreur').dialog({modal:true,autopen:false});
                //alert("Veuillez choisir un élément à modifier!");
            }
            else{
                //si plusieurs élément ont été selectionnés
                //on envoie un message d'erreur
                if(nbre > 1){
                    //on enlève l'image loader
                    $('#loader').hide();
                    $('#message_erreur').html("Vous ne pouvez pas modifier plusieurs éléments en même temps!");
                    $('#message_erreur').dialog({modal:true,autopen:false});
                }
                else{ //un seul élément est choisi, on peut le modifier
                    
                    //on envoie le type de requete à traiter au
                    //niveau du controller Pavion:add
                    //ici on cherche à afficher le formulaire de modification
                    var requete = "affichage";
                    var DATA='requete='+requete;
                    //variable url pour garder l'url avec la valeur de id
                    var url = "{{ path('smb_pavion_edit',{'id':2})}}";
                    //on remplace le 2 dans la chaine par notre valeur id
                    url = url.replace("2",id);
                    
                    $.ajax({
                        type:"POST",
                        url:url,
                        data:DATA,
                        success: function(data){
                            $('.pavion_ajout').remove();
                            $('.pavion_modification').remove();
                            $('#contenu_parametre').append(data);
                            //on enlève l'image loader
                            $('#loader').hide();
                        },
                        error: function(){
                            //on enlève l'image loader
                            $('#loader').hide();
                        }
                    });
                }
            }
        });
    });
</script>